# ======================================
# APP VERSION
# ======================================

APP_VERSION=

# ======================================
# FLASK
# ======================================

FLASK_APP=
FLASK_ENV=
FLASK_RUN_HOST=

DEBUG=

# ======================================
# SECURITY
# ======================================

SECRET_KEY=
JWT_SECRET_KEY=

# 15 minutos
JWT_ACCESS_TOKEN_EXPIRES=
JWT_REFRESH_TOKEN_EXPIRES=

# ======================================
# DATABASE
# ======================================

DB_HOST=
DB_PORT=

POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

DATABASE_URL=
DATABASE_TESTS_URL=

# ======================================
# REDIS CACHE
# ======================================

REDIS_HOST=
REDIS_PORT=
REDIS_DB=

# ======================================
# CORS
# ======================================

FRONTEND_URL=

# ======================================
# LOGGING
# ======================================

LOG_LEVEL=INFO

# ======================================
# TIMEZONE
# ======================================

TZ=UTC

# ======================================
# SUPER ADMIN
# ======================================

SUPER_ADMIN_PASSWORD=
SUPER_ADMIN_EMAIL=
SUPER_ADMIN_NAME=