.venv/
venv/
env/
bin/
lib/
**/__pycache__/
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage


.env
instance/
.flaskenv

*.db
*.env
*.pyc

.vscode/
.idea/
*.swp

.DS_Store
Thumbs.db

seed.py

# Docker
.dockerignore