# =========================
# Python
# =========================
.venv/
venv/
env/
bin/
lib/

__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

.pytest_cache/
.coverage

# =========================
# Env & Flask
# =========================
.env
.env.*
.flaskenv
instance/

# =========================
# Local database
# =========================
*.db

# =========================
# IDEs / Editor
# =========================
.vscode/
.idea/
*.swp

# =========================
# OS
# =========================
.DS_Store
Thumbs.db
