.sidebar {
  width: 220px;
  background: #1b1b1b;
  color: white;
  height: 100vh;
  padding: 20px;
}

.logo {
  margin-bottom: 30px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.link {
  text-decoration: none;
  color: #ccc;
  padding: 8px;
  border-radius: 6px;
  transition: 0.2s;
}

.link:hover {
  background: #333;
  color: white;
}

.active {
  background: #333;
  color: white;
  text-decoration: none;
  padding: 5px;
}