/* Reset básico */
* {
  box-sizing: border-box;
}

/* Base da aplicação */
body {
  margin: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f5f7fa;
  color: #1e1e1e;
}